@charset "utf-8";

.slider{
  overflow: hidden;
  width: 100%;
  position: relative;
  user-select: none;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
}

.slider-item{
  width: 100%;
  display: none;
  transition: all 0.6s ease;
  > img {
    max-width: 100%;
  }
}

.slider-active{
  display: block;
}

.indicators{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.indicators-li{
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: rgba(255,255,255,.5);
  margin: 0 3px;
}

.indicators-active{
  background-color: #fff;
}

@mixin slider-move-base{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(255,255,255,.5);
  }
}

@mixin move-base{
  position: absolute;
  display: block;
  top: 0;
}

.slider-next{
  @include slider-move-base;
  right: 0;
}

.slider-prev{
  @include slider-move-base;
  left: 0;
}

.slide-move-right{
  @include move-base;
  transform: translate3d(100%,0,0);
}

.slide-move-left{
  @include move-base;
  transform: translate3d(-100%,0,0);
}

.slider-active.cur-move-left{
  transform: translate3d(-100%,0,0);
}

.slider-active.cur-move-right{
  transform: translate3d(100%,0,0);
}

.cur-move-left,
.cur-move-right {
  transform: translate3d(0,0,0);
}